<div>
  <div>
    <% if comment.user.avatar.attached? %>
      <%= image_tag comment.user.avatar.variant(resize: "50×50"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "no_image.png", class: "img-thumbnail", width: 50 %>  
    <% end %>
    <span><%= comment.user.nick_name %></span>
  </div>
  <div>
    <div>
      <b><%= link_to comment.title, post_comment_path(comment.post, comment) %></b>
    </div>
  <small><%= comment.created_at.strftime("%Y年%m月%d日") %></small>
  </div>
  <%= simple_format comment.body %>
</div>  