<div class="col-md-8 offset-md-2 mt-5">
  <h2 class="text-center"><%= t ".title" %></h2>
  <div>
    <% if @comment.user.avatar.attached? %>
      <%= image_tag @comment.user.avatar.variant(resize: "60x60"), class: "img-thumbnail" %>
    <% else %>
      <%= image_tag "no_image.png", class: "img-thumbnail", width: 60 %>
    <% end %>
    <span><%= @comment.user.nick_name %></span>
  </div>
  <hr>
  <div>
    <div>
      <span class="text-warning"><%= "★" * @comment.evaluation %></span>
      <b><%= @comment.title %></b>
    </div>
    <small><%= @comment.created_at.strftime("%Y年%m月%d日") %></small>
  </div>
  <%= simple_format @comment.body %>
  <% if user_signed_in? && current_user.id == @comment.user_id %>
    <%= link_to t(".edit"), edit_post_comment_path(@post, @comment), class: "btn btn-info" %>
    <%= button_tag t(".delete"), class: "btn btn-warning", data: { toggle: "modal", target: "#delete-comment" } %>
  <% end %>
  <%= link_to t(".back"), @post, class: "btn btn-secondary" %>
</div>

  <div class="modal fade" id="delete-review">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t(".modal_title") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t(".question_comment", comment: @comment.title) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".chancel") %></button>
        <%= link_to t(".delete_action"), post_comment_path(@post, @comment), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>