<div class="jumbotron jumbotron-fluid">
    <div class="container" style="height:820px;">
      <h1 class="nuts-title">Casual Nuts</h1>
      <h5 class="nuts-world">ナッツを世界に広めていこう!</h5>
      <%= link_to t(".New Post"), new_post_path, class: "btn btn-black btn-lg" %>
      <%= link_to t(".Article"), posts_path, class: "btn btn-black btn-lg" %>
    </div>
  </div>
    <% @posts.each do |post|%>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <%= show_post_image post %>
        <h4 class="mt-2"><%= link_to post.title, post_path(post) %></h4>
        <p><%= truncate(post.description, length: 30) %></p>
      </div>
    <% end %> 

    <div class="col-12">
      <%= paginate @posts %>
    </div>