  
    
    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-4 col-sm-4 mb-3 mt-4">
        <div class="mb-5">
            <div class="card mb-4">
              <%= show_post_image post %>
              <h4><%= post.title %></h4>
              <p><%= truncate(post.description, length: 20) %></p>
              <h4><%= link_to t(".さらに読む"), post_path(post), class: "blue-button" %></h4>
            </div>
        </div>
      </div>
    <% end %>
    
    <div class="col-12">
      <%= paginate @posts %>
    </div>
  