  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-4 col-sm-4 mb-3 mt-4">
          <div class="mb-5">
              <div class="card mb-4">
                <%= show_post_image post %>
                <h4 class="post-title"><%= post.title %></h4>
                <p class="post-description"><%= truncate(post.description, length: 20) %></p>
                <h5 class="post-link"><%= link_to t(".さらに読む"), post_path(post), class: "blue-button" %></h5>
              </div>
          </div>
        </div>
      <% end %>
    </div> 
  </div> 

  <div class="col-12">
    <%= paginate @posts %>
  </div>
  