<% @posts.each do |post| %>
  <div class="col-lg-4 col-md-4 col-sm-4 mb-3 mt-4 text-center">
    <%= show_post_image post %>
    <h4 class="mt-2"><%= link_to post.title, post_path(post) %></h4>
    <h6 class="mt-2"><%= t ".nut" %>:<%= post.nut&.name %></h6>
    <p><%= truncate(post.description, length: 20) %></p>
  </div>
<% end %>

<div class="col-12">
  <%= paginate @posts %>
</div>